* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 65% auto;
}

#main,
#right-sidebar,
#bottom {
    margin-left: 10px;
    margin-top: 10px;
    padding: 0 20px 0 20px;
    border-radius: 6px;
}


/* --------------------------------------------------- LEFT SIDEBAR AREA */

#left-sidebar-container {
    background-color: black;
    grid-row: 1/3;
    text-align: center;
}

.left-sidebar-contained {
    width: 250px;
    display: inline-block;
}

.title-text {
    color: gold;
    line-height: .8em;
}

#title {
    margin-top: -10px;
    font-size: 80px;
    color: black;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: gold;
    text-shadow: 3px 3px 0 white;
}

#song-selector {
    width: 250px;
    height: 30px;
    margin-bottom: 5px;
}

.left-col-btn {
    width: 250px;
    height: 40px;
    background-color: black;
    color: white;
    border: 3px solid gold;
    border-radius: 6px;
}


/* --------------------------------------------------- MAIN AREA */

#main {
    background-color: darkgray;
}

#welcome {
    display: block;
    padding: 100px 0;
    text-align: center;
}

.input {
    width: 290px;
    height: 30px;
}

#new-form-container,
#song-container {
    display: none;
}

#song-lyrics {
    width: 560px;
    height: 60%;
    border: 2px solid black;
    background-color: white;
    overflow: hidden;
    overflow-y: scroll;
}

#right-sidebar {
    background-color: darkgray;
    margin-right: 10px;
}


/* --------------------------------------------------- RIGHT SIDEBAR AREA*/

#about {
    height: 25%;
    background-color: white;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;
}

#instructions {
    height: 40%;
    background-color: white;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;
}


/* --------------------------------------------------- COMMENT AREA (BOTTOM)*/

#bottom {
    background-color: darkgray;
    grid-column: 2/4;
    margin-right: 10px;
    margin-bottom: 10px;
}

#comments-container {
    display: none;
    height: 99%;
}

#comments {
    list-style-type: none;
    height: 30%;
    /* overflow: hidden;
    overflow-y: scroll; */
}

#new-comment-form {
    width: 99%;
}

.com-input {
    width: 18%;
    height: 30px;
    margin-top: 40px;
}

#com-input {
    width: 60%;
    height: 30px;
}

.comment {
    width: 99%;
    /* border: 2px solid black; */
    margin-bottom: 2px;
    /* margin-left: -40px; */
    padding: 5px;
    background-color: white;
}